<div class="fs_wapper">
    @Scripts.Render("~/Areas/Admin/Scripts/Administrator.js")
    @using (Html.BeginForm("ChangePassWord", "Administrator", FormMethod.Post, new { id = "admincha_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <table>
            <tr>
                <th>原密码</th>
                <td>
                    <input id="oldPwd" name="oldPwd" type="password" class="easyui-validatebox" data-options="required:true,validType:['length[6,256]']" />
                    </td>
            </tr>
            <tr>
                <th>新密码</th>
                <td>
                    <input id="newPwd" name="newPwd" type="password" class="easyui-validatebox" data-options="required:true,validType:['length[6,256]']" />
                    </td>
            </tr>
            <tr>
                <th>重复密码</th>
                <td>
                    <input id="confirmPwd" name="confirmPwd" type="password" class="easyui-validatebox" validType="equalTo['#newPwd']" />
                    </td>
            </tr>
        </table> 
    }
</div>
<div style="margin:20px;">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="AdminCPwdSave()">保存</a>
</div>
