body {
    color: #333;
    font-size: 12px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

.field-validation-error {
    font-weight: bold;
    color: red;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.clear {
    clear: both;
}

.wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 1000px;
    height: 63px;
}

    .header .menu {
        float: right;
        height: 24px;
    }

        .header .menu ul {
            margin: 0;
        }

        .header .menu li {
            text-align: center;
            width: 60px;
            float: left;
            font-family: 黑体;
            font-size: 14px;
            height: 24px;
            line-height: 24px;
            list-style-type: none;
        }

.nav {
    float: right;
    height: 39px;
    width: 776px;
    background-image: url('Images/nav_bg.jpg');
    background-repeat: repeat-x;
}

    .nav .nav_l {
        width: 8px;
        height: 39px;
        float: left;
        background-image: url('Images/nav_l.jpg');
        background-repeat: no-repeat;
    }

    .nav a {
        float: left;
        display: block;
        width: 96px;
        height: 39px;
        line-height: 39px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }

        .nav a:hover {
            background-color: #ffa109;
            color: #198494;
        }

.main_wrapper {
    background-color: #198494;
    width: 1000px;
    min-height: 106px;
    display: table;
}

.main {
    margin: 0px 6px 6px 0px;
    background-color: #FFFFFF;
    min-height: 100px;
    width: 994px;
    display: table;
}

.banner {
    width: 100%;
    height: 200px;
}

.left {
    float: left;
    width: 168px;
}

.children {
}

    .children dl {
        margin: 0px;
        padding: 0px;
    }

    .children dt {
        background-position: 10px center;
        background-color: #f5f5f5;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-weight: bold;
        background-image: url('Images/Home.png');
        background-repeat: no-repeat;
    }

    .children dd {
        padding: 0px;
        margin: 0px;
    }

    .children ul {
        padding: 0px;
        margin: 0px;
    }

    .children li {
        background-position: 16px center;
        list-style-type: none;
        height: 24px;
        line-height: 24px;
        background-image: url('Images/arrow.gif');
        background-repeat: no-repeat;
        padding-left: 26px;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: #C0C0C0;
    }

    .children a:hover {
        color: #198494;
    }

.content_cnt {
    width: 818px;
    float: right;
}

.path {
    background-position: left center;
    float: left;
    width: 818px;
    height: 28px;
    line-height: 28px;
    background-image: url('Images/Home2.png');
    background-repeat: no-repeat;
    padding-left: 28px;
}
.cModel_List {
    float: left;
    margin: 12px;
}

    .cModel_List ul {
        margin:0;
        padding-left:18px;
    }

    .cModel_List li {
        width: 100%;
        float: left;
        height: 28px;
        line-height: 28px;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: #C0C0C0;
    }

        .cModel_List li time {
            float: right;
            margin-right: 12px;
        }
.content {
    float: left;
    margin:24px;
}

.content .title {
    text-align:center;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #198494;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #198494;
}
.content .Info {
    text-align: center;
    margin: 4px 0px 4px 0px;
    height: 22px;
    line-height: 22px;
    background-color: #f5f5f5;
}
.content .text {
    margin-top:12px;
    line-height:1.8em;
}
    .content .text a {
    text-decoration: underline;
    color: #0000FF;
}
.pager {
    float: left;
    margin: 8px 20px 8px 20px;
    height: 28px;
    line-height: 28px;
}

    .pager .linkbtn, .btn, .linkbatch, .linknum {
        padding: 0px 4px 0px 4px;
        margin: 0px 2px 0px 2px;
        border: 1px solid #3399ff;
        background-color: #3399ff;
        display: inline-block;
        line-height: 20px;
        color: #fff;
    }

        .pager .linkbtn:hover, .linkbatch:hover, .linknum:hover {
            background-color: #66b3ff;
            border-bottom-color: #448dae;
            color: #026890;
        }

    .pager .currentnum {
        padding: 0px 4px 0px 4px;
        margin: 0px 2px 0px 2px;
        border: 1px solid #198494;
        background-color: #198494;
        display: inline-block;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
    }

.singlepage {
    margin-top: 38px;
}

    .singlepage .title {
        padding-left: 20px;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #198494;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: #198494;
    }

.footer {
    height: 110px;
}

    .footer .menu {
        background-image: url('Images/footer_nav_bg.jpg');
        background-repeat: repeat-x;
        height: 40px;
        line-height: 40px;
        margin-top: 22px;
    }

    .footer .address {
        height: 48px;
        line-height: 20px;
    }

/*form*/
.form {
    border: 1px solid #C0C0C0;
    margin: 0px;
    width: 994px;
    min-height: 100px;
    height: auto;
}

    .form input[type=text] {
        width: 180px;
    }

    .form input[type=password] {
        width: 180px;
    }

    .form dl {
        margin-left: 100px;
        margin-right: 100px;
    }

    .form dt {
        font-size: 14px;
        font-weight: bold;
        padding-left: 200px;
        height: 40px;
        line-height: 40px;
    }

    .form dd {
        float: left;
        width: 100%;
        display: table-cell;
        height: auto;
        min-height: 40px;
        line-height: 20px;
    }

    .form .label {
        width: 200px;
        float: left;
        text-align: right;
    }

    .form .ctrl {
        width: 590px;
        float: left;
    }
