@{
    ViewBag.Title = "文章管理";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="workspace">
    <div class="inside">
        <div class="notebar">
            <img alt="" src="~/Content/Default/User/Images/Icon/Article_16.png" />您现在的位置： 文章管理
        </div>
    </div>
</div>
<div class="left">@Html.Partial("PartialUserNavMenus")</div>
<div class="clear"></div>
