<div class="c_navbar">后台管理 >> 模块管理</div>
<div class="fs_wapper">
    <div class="header"></div>
    <div title="模块管理">
        <table class="easyui-datagrid" data-options="url:'@Url.Action("Items")',fitColumns:true,singleSelect:true">
            <thead>
                <tr>
                    <th data-options="field:'Name'">名称</th>
                    <th data-options="field:'Model'">模型</th>
                    <th data-options="field:'Enable'">启用</th>
                    <th data-options="field:'Description'">说明</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
